$white: #ffffff;
$textGray: #767676;
$black: #000000;
$lowBlue: #207ac6;
$errorColor: #de3e3e;
$borderColor: #b3b3b3;
$radioColor: #217cc5;
$baseIndent: 20px;
$selectHover: #0984e3;
$otherFooterPage: 130px;
$borderLight: #cbcbcb;
$btnYellow: #ffd201;
$fontBlue: #015293;
$colorBlue: #c7d9e5;
